@import "tailwindcss";

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

h1, h2, h3, .font-serif {
  font-family: var(--font-playfair);
}

.font-sans {
  font-family: var(--font-inter);
}

@layer base {
  button {
    @apply transition-all duration-200 active:scale-[0.98];
  }
}
